<div class="fb-signin-inner component-inner">
    {{> component this}}
	<div class="sign-in-container">
        <div class="sign-in-container-inner">
            <div class="sign-in-container-body">
                <span class="sign-in-label">
                    Sign In:
                </span>
                <button class="sign-in-button google">
                    <span class="f-icon icon-google-plus-g"></span>
                </button>
                <!--<button class="sign-in-button facebook">
                    <span class="f-icon icon-facebook"></span>
                </button>-->
                <div class="user-info">
                    <div class="user-info-inner">
                        <div class="user-name">
                            <div class="user-avatar">
                                <div class="user-avatar-inner">
                                    <span class="icon icon-person"></span>
                                </div>
                            </div>
                            <div class="user-name-label">Username</div>
                        </div>

                    </div>
                </div>
                <div class="sign-out">
                    <button class="sign-out-button">
                        <span class="f-icon icon-sign-out"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End of social-inner -->  